In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('housing.data',delim_whitespace=True,header = None)

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

#   1. CRIM      per capita crime rate by town
    2. ZN        proportion of residential land zoned for lots over 
                 25,000 sq.ft.
    3. INDUS     proportion of non-retail business acres per town
    4. CHAS      Charles River dummy variable (= 1 if tract bounds 
                 river; 0 otherwise)
    5. NOX       nitric oxides concentration (parts per 10 million)
    6. RM        average number of rooms per dwelling
    7. AGE       proportion of owner-occupied units built prior to 1940
    8. DIS       weighted distances to five Boston employment centres
    9. RAD       index of accessibility to radial highways
    1. CRIM      per capita crime rate by town
    2. ZN        proportion of residential land zoned for lots over 
                 25,000 sq.ft.
    3. INDUS     proportion of non-retail business acres per town
    4. CHAS      Charles River dummy variable (= 1 if tract bounds 
                 river; 0 otherwise)
    5. NOX       nitric oxides concentration (parts per 10 million)
    6. RM        average number of rooms per dwelling
    7. AGE       proportion of owner-occupied units built prior to 1940
    8. DIS       weighted distances to five Boston employment centres
    9. RAD       index of accessibility to radial highways
    10. TAX      full-value property-tax rate per $10,000
    
    11. PTRATIO  pupil-teacher ratio by town
    12. B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks 
                 by town
    13. LSTAT    % lower status of the population
    14. MEDV     Median value of owner-occupied homes in $1000's 10. TAX      full-value property-tax rate per $10,000
    11. PTRATIO  pupil-teacher ratio by town
    12. B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks 
                 by town
    13. LSTAT    % lower status of the population
    14. MEDV     Median value of owner-occupied homes in $1000's

In [16]:
col_study = ['PTRATIO','B','MEDV']

In [17]:
col_name = ['CRIM', 'ZN', 'INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']

In [18]:
df.columns = col_name

In [19]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [20]:
# EDA (Exoloratory Data Analysis)

In [21]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [22]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.pairplot(df,height=1.5);
plt.show()

In [ ]:
sns.pairplot(df[col_study], height=3);
plt.show()

In [ ]:
# correlation analysis and Feature Selection

In [ ]:

df.corr()

In [ ]:
plt.figure(figsize=(16,10))
sns.heatmap(df.corr(), annot=True)
plt.show()

In [ ]:
# Linear Regression with Scikit learn

In [ ]:
x = df['RM'].values.reshape(-1, 1)

In [ ]:
y = df['LSTAT'].values

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x, y)

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
plt.figure(figsize = (12, 10));
sns.regplot(x, y);
plt.xlabel('average no. of rooms per dwelling')
plt.ylabel('population')
plt.show()

In [ ]:
sns.jointplot(x='RM', y='LSTAT', data=df, kind='reg',size=10);
plt.show()

In [ ]:
df.head()

In [ ]:
x = df['LSTAT'].values.reshape(-1, 1)
y = df['MEDV'].values

In [ ]:
from sklearn.linear_model import RANSACRegressor

In [ ]:
ransac = RANSACRegressor()

In [ ]:
ransac.fit(x, y)

In [ ]:
ransac.fit(x, y)

In [ ]:
inlier_mask = ransac.inlier_mask_
outlier_mask = np.logical_not(inlier_mask)

In [ ]:
line_x = np.arange(0, 40, 1)
line_y_ransac = ransac.predict(line_x.reshape(-1, 1))

In [ ]:
sns.set(style='whitegrid', context='notebook')
plt.figure(figsize=(8,12));
plt.scatter(x[inlier_mask], y[inlier_mask],
            c='blue', marker='o', label='inliers')
plt.scatter(x[outlier_mask], y[outlier_mask],
            c='green', marker='s', label='outliers')
plt.plot(line_x, line_y_ransac,color='black')
plt.xlabel('average number of rooms per dwelling')
plt.ylabel('status of population')
plt.legend(loc='upper right')
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = df['LSTAT'].values.reshape(-1, 1)

In [ ]:
y = df['MEDV'].values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(x_train, y_train)

In [ ]:
y_train_pred = lr.predict(x_train)

In [ ]:
y_test_pred = lr.predict(x_test)

In [ ]:
plt.figure(figsize = (12, 8))
plt.scatter(y_train_pred, y_train_pred - y_train, c='blue' , marker = 'o', label = 'Training data')
plt.scatter(y_test_pred, y_test_pred - y_test, c='red', marker = 'x', label = 'Test data')
plt.xlabel('Prediction values')
plt.ylabel('Residuals')
plt.legend(loc='upper left')
plt.hlines(y=0, xmin=-10, xmax=50, lw=2, color='k')
plt.xlim([-10, 50])
plt.show()

In [ ]:
# Mean squared error

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_train, y_train_pred)

In [ ]:
mean_squared_error(y_test, y_test_pred)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
sns.set_style('whitegrid')

In [ ]:
t = 3
a = 0.1
data = []
for oo in range(0, 10):
    res = a *2 * t
    print("{0:.4f}{1:.4f}".format(t, res))
    data.append([t, t ** 2])
    t = t - res

In [ ]:
data

In [ ]:
tmp = pd.DataFrame(data)
tmp

In [ ]:
plt.figure(figsize = (12, 10))
plt.plot(np.linspace(-2, 4 , 50),np.linspace(-2, 4 , 50)**2);
plt.scatter(tmp.iloc[:,0], tmp.iloc[:,1], marker='x');
plt.xlabel('t');
plt.ylabel('j(t)');